*{
    margin: 0px;
    padding: 0px;
    outline: 1px dotted red;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 15px;
   }
   #header{
    min-height: 150px;
    background-color: green;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin: 20px 15px auto auto;
   }
   #main_content{
    min-height: 400px;
    width: 680px;
    background-color: red;
    display: inline-block;
    margin: 20px 0px auto 0px;
    padding: 25px;
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: auto 10px 30px auto;
   }
   #advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
   }